{{#artifact_cache_stats?}}
<table class="artifact-cache-stats">
    <tr><th>Cache</th><th>Hits</th><th>Misses</th></tr>
  {{#artifact_cache_stats}}
      <tr><td class="artifact-cache-name">{{cache_name}}</td>
          <td class="artifact-cache-hits">{{num_hits}}</td>
          <td class="artifact-cache-misses">{{num_misses}}</td></tr>
  {{/artifact_cache_stats}}
</table>
{{/artifact_cache_stats?}}
{{^artifact_cache_stats?}}
Artifact cache reads not enabled.
{{/artifact_cache_stats?}}
