<script>expandScope($('#{{parent_scope_id}}'));</script>
<div style="margin-left:{{indent}}dpx" id="{{scope_id}}">
  <div class="scope-header" id="{{scope_id}}-header" onclick="toggleScope($('#{{scope_id}}'))">
    <div class="scope-header-icon"><i class="visibility-icon icon-large icon-caret-right"></i></div>
    <div class="scope-header-text">[<span id="{{scope_id}}-header-text">{{header_text}}</span>]</div>
    <div id="{{scope_id}}-spinner" class="spinner"></div>
  </div>
  <div class="scope-content" id="{{scope_id}}-content" style="display:none;">
