<div class="run">
{{#no_such_run}}
<p>
{{#is_latest}}<div class="no-runs">No runs found since last clean-all.<p>Latest run will display here automatically.</div>{{/is_latest}}
{{^is_latest}}<div class="no-such-run">No run found with id {{.}}</div>{{/is_latest}}
</p>
{{/no_such_run}}
{{^no_such_run}}
<div class="run-info">
{{#run_info}}
<div class="timestamp-text">Pants run at {{timestamp_text}}</div>
<p>
<div class="cmd-line-label">Command line:</div>
<div class="cmd-line monospace">{{cmd_line}}</div>
</p>
<p>
<div id="aggregated-timings">{{#collapsible}}id=aggregated-timings-collapsible&title=Aggregated%20timings&class_prefix=aggregated-timings{{/collapsible}}</div>
</p>
</div>
<p>
<div id="report-{{id}}"></div>
</p>
<script>
  $(function() {
    pants.poller.startTailing('run_{{id}}_root', '{{report_path}}', '#report-{{id}}');
  });
  $(function() {
    pants.poller.startPolling('run_{{id}}_aggregated_timings', '{{aggregated_timings_path}}', '#aggregated-timings-collapsible-content', function() { pants.collapsible.hasContent('aggregated-timings-collapsible'); });
  });
</script>
{{/run_info}}
{{/no_such_run}}
{{#is_latest}}
<script>
  $(function() {
    // We want to view whatever the latest run is, so reload the page if that changes.
    window.setInterval(function() {
      $.ajax({
        url: '/latestrunid',
        success: function(data, textStatus, jqXHR) {
          if (data != '{{.}}') {
            document.location.reload();
          }
        }
      });
    }, 500);
  });
</script>
{{/is_latest}}
</div>
