<div {{#class_prefix}}class="{{.}}" {{/class_prefix}}id="{{id}}">
  <div class="{{#class_prefix}}{{.}}-header {{/class_prefix}}toggle-header" id="{{id}}-header" onclick="pants.toggleScope('{{id}}')">
    <div class="{{#class_prefix}}{{.}}-header-icon {{/class_prefix}}toggle-header-icon">
      <i id="{{id}}-icon" class="visibility-icon icon-large {{#initially_open}}icon-caret-down{{/initially_open}}{{^initially_open}}icon-caret-right{{/initially_open}}"></i>
    </div>
    <div class="{{#class_prefix}}{{.}}-header-text {{/class_prefix}}toggle-header-text">[<span id="{{id}}-header-text">{{title}}</span>]<span class="timer" id="{{id}}-timer"></span></div>
    {{#spinner}}<div id="{{id}}-spinner" class="spinner"></div>{{/spinner}}
  </div>
  <div class="{{#class_prefix}}{{.}}-content {{/class_prefix}}toggle-content" id="{{id}}-content" {{^initially_open}}style="display:none;"{{/initially_open}}>
