<div id="__{{workunit.id}}__tool_invocation">
{{#collapsible}}id={{workunit.id}}-cmd&title=cmdline&class_prefix=cmd{{/collapsible}}
{{#collapsible}}id={{workunit.id}}-stdout&title=stdout&class_prefix=greyed{{/collapsible}}
{{#collapsible}}id={{workunit.id}}-stderr&title=stderr&class_prefix=greyed{{/collapsible}}
</div>
<script>
  $(function(){
    pants.collapsible.hasContent('{{workunit.id}}');
    pants.collapsible.hasContent('{{workunit.id}}-cmd');
    pants.append('#__{{workunit.id}}__tool_invocation', '#{{workunit.id}}-content');
    pants.appendString('{{{workunit.cmd}}}', '#{{workunit.id}}-cmd-content');
    pants.poller.startTailing('{{workunit.id}}_stdout', '{{html_path_base}}/{{workunit.id}}.stdout', '#{{workunit.id}}-stdout-content', function() { pants.collapsible.hasContent('{{workunit.id}}-stdout'); });
    pants.poller.startTailing('{{workunit.id}}_stderr', '{{html_path_base}}/{{workunit.id}}.stderr', '#{{workunit.id}}-stderr-content', function() { pants.collapsible.hasContent('{{workunit.id}}-stderr'); });
  });
</script>
