{{#workunit}}
<script>
  $('#{{id}}-header-text').addClass('{{status}}'); $('#{{id}}-spinner').hide()
  pants.tailer.stopTailing('{{id}}_stdout');
  pants.tailer.stopTailing('{{id}}_stderr');
</script>
</div>
</div>
{{/workunit}}
