<div id="__{{workunit.id}}__content">{{#collapsible}}id={{workunit.id}}&title={{header_text}}{{#initially_open}}&initially_open=1{{/initially_open}}&spinner=1{{#is_tool}}&icon=icon-cog{{/is_tool}}{{/collapsible}}</div>
<script>
  $(function(){
    pants.append('#__{{workunit.id}}__content', '#{{workunit.parent.id}}-content');
    $('#{{workunit.parent.id}}-icon').removeClass('hidden');
    //{{^is_tool}}pants.collapsible.expand('{{workunit.parent.id}}');{{/is_tool}}
    pants.timerManager.startTimer('{{workunit.id}}', '#{{workunit.id}}-timer', 1000 * {{workunit.start_time}});
  });
</script>
